<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/tableList.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/dic.css">
    <title></title>
</head>
<body>
<div class="container" style="overflow: scroll">
    <h2 align="center">数据字典管理列表</h2>
    <table class="bordered">
        <thead>
        <tr><th>序号</th><th>字典类型</th><th>详细</th><th>删除</th></tr>
        </thead>
        <tbody>
        <volist name="res" id="vo">
            <tr><td>{$vo.id}</td><td class="type">{$vo.type}</td><td><a href="dic_content.html?type={$vo.type}">详细</a></td><td>删除</td></tr>
        </volist>
        </tbody>
    </table>

</div>
<script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
</body>
</html>