<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/tableList.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/dic.css">
    <title></title>
</head>
<body>
<div class="container">
    <h2>数据字典管理列表</h2>
    <form id="myForm" action="__SELF__" method="post">
        <input type="hidden" name="action" value={$mes}>
        <input type="hidden" name="id">
        <input type="hidden" name="type" value={$_SESSION['attachType']}>
        <button type="submit" id="submit" class="btn btn-default" style="height:30px;float: right;padding: 5px;border: 0px;margin-bottom: 10px">
            <span class="glyphicon glyphicon-ok"></span>&nbsp保存
        </button>
        <button type="button" id="add" class="btn btn-default" style="height:30px;float: right;padding: 5px;border: 0px;margin-bottom: 10px">
            <span class="glyphicon glyphicon-plus"></span>&nbsp新增
        </button>
        <div><a href="dic_manage.html">返回</a></div>
    <table class="bordered">
        <thead>
        <tr><th>字典类型</th><th>内容</th><th>删除</th></tr>
        </thead>
        <tbody>
        <volist name="cont" id="vo">
            <tr><td class="id" style="display: none">{$vo.id}</td><td class="type">{$vo.attachType}</td><td class="value" title={$vo.value}>{$vo.value}</td><td class="delete">删除</td></tr>
        </volist>
        <tr class="copy" style="display: none"><td class="id" style="display: none"></td><td class="type">{$type}</td><td class="value"></td><td>删除</td></tr>
        </tbody>
    </table>
        <input type="submit" value="提交" style="display: none">
    </form>
</div>
<script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Home/js/jquery.form.js"></script>
<script src="__PUBLIC__/Home/js/dic.js"></script>
<script>
    $('#myForm').submit(function() {
        $(this).ajaxSubmit(function() {
            if(confirm("确定要增添数据吗")){
                location.reload();
            }else{
                return false;
            }
        });
        return false; //阻止表单默认提交
    });
</script>
</body>
</html>