<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="__PUBLIC__/bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/tabs.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/tableList.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/tableDetail.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/jquery-ui.theme.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/box.css" type="text/css">
    <style>

        #content .tab{
            padding-top: 10px;
        }
        #content a{
            cursor: pointer;
            /*background-color: rgb(244, 244, 244);*/
        }
        .breadcrumb > li + li:before {
            color: #CCCCCC;
            content: " > ";
            padding: 0px 5px;
        }
        #content{
            padding-top: 0px;
        }
        .borderedDetail td ul li{
            float: left;
        }
        .breadcrumb > li + li:before {
            color: #CCCCCC;
            content: " > ";
            padding: 0 5px;
        }
        #riskCalPara .filterInput input{
            margin-left: 10px;
            margin-right: 5px;
        }
        .tankInfoDetail ul{
            width: 100%;
            padding-bottom: 10px;
        }
        .tankInfoDetail h4{
            width: 100%;
            float: left;

        }
        .choice span{
            padding: 5px;
        }
    </style>
    <title></title>
</head>
<body>
<div class="tankInfoDetail" style="width:98%;margin-right: auto;margin-left: auto">
    <table class="borderedDetail">
        <tbody>
        <tr>
            <td><p>所在厂区:</p></td><td>{$plant[0].factoryId}</td>
            <td><p>所在车间:</p></td><td>{$plant[0].workshopId}</td>
            <td><p>设备名称:</p></td><td>{$plant[0].plantName}</td></tr>
        <tr><td><p>设备位号:</p></td><td>{$plant[0].plantNO}</td>
            <td><p>检验单位:</p></td><td>{$PlantInspectRecord[0].testCompany}</td>
            <td><p>检验类型:</p></td><td>{$PlantInspectRecord[0].testType}</td></tr>
        <tr><td><p>检验日期:</p></td><td>{$PlantInspectRecord[0].testDate}</td>
            <td><p>下次检验日期:</p></td><td>{$PlantInspectRecord[0].nextTestDate}</td>
            <td><p></p></td><td></td></tr>
        <tr><td><p>备注:</p></td><td colspan="5">{$PlantInspectRecord[0].testRemark}</td>
            </tr>
        </tbody>
    </table>
<div class="tabbable">
    <ul id="tabs">
        <li>
            <a href="" title="tab1">检验记录</a>
        </li>
        <li>
            <a href="" title="tab2">检查结果</a>
        </li>
        <li>
            <a href="" title="tab3">相关文件</a>
        </li>
    </ul>
    <div id="content">
        <!-- <a href="" class="btn btn-primary Access" data-access="{$Access['IMPORT']['id']}"style="background-color: #0b80c9;height:30px;float: right;padding: 5px;border: 0px;margin-bottom: 10px;margin-left: 10px"><span class="glyphicon glyphicon-import" style="margin-right:5px "></span>导入</a> -->
        <!-- <a href="" class="btn btn-primary Access" data-access="{$Access['EXPORT']['id']}"style="background-color: #0b80c9;height:30px;float: right;padding: 5px;border: 0px;margin-bottom: 10px;margin-left: 10px"><span class="glyphicon glyphicon-export" style="margin-right:5px "></span>导出</a> -->
        <a data-messageId="{$PlantInspectRecord[0].id}" data-verifierLevel="{$PlantInspectRecord[0].verifierLevel}" class="btn btn-primary Access" id="verifiedNo" data-access="{$Access['VERIFIED']['id']}" style=" background-color: #0b80c9;height:30px;float: right;padding: 5px;border: 0px;margin-bottom: 10px;margin-left: 10px"><span class="glyphicon glyphicon-remove" style="margin-right:5px "></span>审核不通过</a>
        <a data-messageId="{$PlantInspectRecord[0].id}" data-verifierLevel="{$PlantInspectRecord[0].verifierLevel}" class="btn btn-primary Access" id="verifiedYes" data-access="{$Access['VERIFIED']['id']}" style=" background-color: #0b80c9;height:30px;float: right;padding: 5px;border: 0px;margin-bottom: 10px;margin-left: 10px"><span class="glyphicon glyphicon-ok" style="margin-right:5px "></span>审核通过</a>

        <div id="tab1" class="tab">
            <div style="width: 100%;margin:10px auto;">
                <div class="choice" style="margin-bottom: 20px">
                    <span> 检验部位：</span>
                    <input id="bottomBorderBox" type="checkbox" name="bottomBorderBox" value="{$PlantInspectRecord[0].isBottomTest}"  disabled="disabled"/><span>底板</span>
                    <input id="wallBorderBox" type="checkbox"  name='wallBorderBox' value="{$PlantInspectRecord[0].isWallTest}"  disabled="disabled"/><span>壁板</span>
                    <input id="topBorderBox" type="checkbox" name="topBorderBox" value="{$PlantInspectRecord[0].isTopTest}" disabled="disabled" /><span>顶板</span>
                </div>
                <div style="width: 100%;margin:10px auto;">
                    <!-- box容器 start -->
                    <div class="box-container bottomBorderBox" style="display: none">
                        <!-- box标题块 -->
                        <div class="box-head box-head-list">
                            <h3>底板检验信息</h3>
                            <a class="box-head-more">收起</a>
                        </div>
                        <!-- box列表块 -->
                        <div class="detail">
                            <ol>
                                <table class="borderedDetail">
                                    <tbody>
                                    <tr><td><p>底板检验日期:</p></td><td>{$PlantInspectRecord[0].testDate_bottom}</td>
                                        <td><p>底板检验类型:</p></td><td>{$PlantInspectRecord[0].testType_bottom}</td></tr>
                                    <tr><td><p>储罐基础沉降:</p></td><td>{$PlantInspectRecord[0].testBasicSettle_bottom}</td>
                                        <td><p>底板检验有效性:</p></td><td>{$PlantInspectRecord[0].testMethod_bottom}</td></tr>
                                    <tr>
                                        <td><p>中幅板最小测量厚度(mm):</p></td><td>{$PlantInspectRecord[0].testMinThickness1_bottom}</td>
                                        <td><p>边缘板最小测量厚度(mm):</p></td><td>{$PlantInspectRecord[0].testMinThickness2_bottom}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ol>
                        </div>
                    </div>
                    <!-- box容器 end -->

                </div>
                <!-- box容器 start -->
                <div class="box-container wallBorderBox" style="display: none" >
                    <!-- box标题块 -->
                    <div class="box-head box-head-list">
                        <h3>壁板检验信息</h3>
                        <a class="box-head-more">收起</a>
                    </div>
                    <!-- box列表块 -->
                    <div class="detail">
                        <ol>
                            <table class="bordered">
                                <thead><th>壁板层号</th><th>检验日期</th><th>检验有效性</th><th>最小测量厚度</th></thead>
                                <tbody>
                                <volist name="PlantInspectRecordWall" id="rD">
                                    <tr><td>{$rD.layerNO}</td><td>{$rD.testDate}
                                    </td><td>{$rD.testMethod}</td><td>{$rD.minThickness}</td></tr>
                                </volist>
                                </tbody>
                            </table>
                        </ol>
                    </div>

                </div>
                <!-- box容器 end -->
                <div style="width: 100%;margin:10px auto;">
                    <!-- box容器 start -->
                    <div class="box-container topBorderBox" style="display: none">
                        <!-- box标题块 -->
                        <div class="box-head box-head-list">
                            <h3>顶板检验信息</h3>
                            <a class="box-head-more">收起</a>
                        </div>
                        <!-- box列表块 -->
                        <div class="detail">
                            <ol>
                                <table class="borderedDetail">
                                    <tbody>
                                    <tr><td><p>顶板检验日期:</p></td><td>{$PlantInspectRecord[0].testDate_top}</td>
                                        <td><p>顶板检验有效性:</p></td><td>{$PlantInspectRecord[0].testMethod_top}</td></tr>
                                    <tr><td><p>顶板最小测量厚度(mm):</p></td><td>{$PlantInspectRecord[0].testMinThickness_top}</td>
                                        <td><p></p></td><td></td></tr>
                                    </tbody>
                                </table>
                            </ol>
                        </div>
                    </div>
                    <!-- box容器 end -->

                </div>

            </div>


        </div>
        <div id="tab2" class="tab">
            <table class="bordered">
                <thead><th>检查项目</th><th>检查结果</th><th>备注</th></thead>
                <tbody>
                <volist name="checkResult" id="rD">
                    <tr data-alarm="{$rD.checkResult}">
                        <td>{$rD.checkItem}</td>
                        <td>
                            <switch name="rD.checkResult">
                                <case value="1">√</case>
                                <case value="0">×</case>
                                <case value="2">\</case>
                            </switch>
                    </td>
                        <td>{$rD.remark}</td></tr>
                </volist>
                </tbody>
            </table>
        </div>
        <div id="tab3" class="tab" style="margin-bottom: 20px">
            <table class="bordered">
                <thead>
                <tr><th>文件名称</th><th>添加时间</th><th>操作</th></tr>
                </thead>
                <tbody>
                <volist name="attachment" id="vo">
                    <tr><td>{$vo.filename}</td><td class="type">{$vo.addTime}</td>
                        <td data-row-id="{$vo.id}">
                            <a class="download Access" data-access="{$Access['DOWNLOAD']['id']}" href="downloadUpload.html?id={$vo.id}">下载</a>
                        </td></tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script src="__PUBLIC__/Jquery/jquery-2.0.3.min.js"></script>
<script src="__PUBLIC__/bootstrap-3.0.3/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Home/js/content_edit.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
<script>
    $(function(){
        //根据返回权限值显示权限
        $(".Access").each(function(){
            if($(this).attr("data-access")){
                $(this).show();
            }else{
                $(this).hide();
            };
        })

        //根据是否报警显示背景色
        $("#tab2 tbody tr").each(function(){
            if($(this).attr("data-alarm")==0){
                $(this).css('color','red');
//                alert($(this).attr("data-alarm"));
            }
        })
        //tabs菜单的切换
        var tabs_index=$.cookie('tabs_index');
        if(tabs_index==undefined){
            var index=0;
        }else{
            var index=$.cookie('tabs_index');
        }
        $("#content .tab").hide(); // Initially hide all content
        $("#tabs li").eq(index).attr("id","current"); // Activate first tab
        $("#content .tab").eq(index).fadeIn(); // Show first tab content
        $('#tabs a').click(function(e) {
            e.preventDefault();
            $("#content .tab").hide(); //Hide all content
            $("#tabs li").attr("id",""); //Reset id's
            $(this).parent().attr("id","current"); // Activate this
            $.cookie('tabs_index', $(this).parent().index());
            $('#' + $(this).attr('title')).fadeIn();
        });
//     展开关闭
        $(".box-head-more").bind("click",function () {
            if($(this).parent(".box-head").siblings(".detail").find("table").is(":visible")) {
                $(this).html("展开");
                $(this).parent(".box-head").siblings(".detail").find("table").hide(300);
            }else {
                $(this).html("收起");
                $(this).parent(".box-head").siblings(".detail").find("table").show(300);
            }
        })
//        打开新增弹出窗口
        $("#addMaintenanceInfo").click(function(){
            $("#addMaintenanceRecord input:checkbox").removeAttr("checked");
            $("#myModalPreview").modal("show");
        });
        //选择时候选中壁板、底板、顶板
        var wallBorderVal=$("#wallBorderBox").val()
        var bottomBorderVal=$("#bottomBorderBox").val()
        var topBorderVal=$("#topBorderBox").val()
        if(wallBorderVal==1){
            $("#wallBorderBox").attr("checked",true);
            $(".wallBorderBox").show();
        }
        if(bottomBorderVal==1){
            $("#bottomBorderBox").attr("checked",true);
            $(".bottomBorderBox").show();
        }
        if(topBorderVal==1){
            $("#topBorderBox").attr("checked",true);
            $(".topBorderBox").show();
        }
//        提交測厚信息
        $("#addMaintenanceRecord").ajaxForm({
            beforeSubmit:  function showRequest(){
            },  // 提交前
            success: function showResponse(data){
                alert(data.msg);
                location.reload();
            }
        })

//     激活spin插件
        $(".spinner").css('width','100%');
        var spinner = $( ".spinner" ).spinner();
        //激活日历控件
        $.datepicker.regional["zh-CN"] = { closeText: "关闭", prevText: "&#x3c;上月", nextText: "下月&#x3e;", currentText: "今天", monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"], monthNamesShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"], dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"], dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"], dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"], weekHeader: "周", dateFormat: "yy-mm-dd", firstDay: 1, isRTL: !1, showMonthAfterYear: !0, yearSuffix: "年" }
        $.datepicker.setDefaults($.datepicker.regional["zh-CN"]);
        $( "input[type='datePicker']" ).datepicker(
                {
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    showButtonPanel: true,
                    dateFormat : "yy-mm-dd"
                }
        );
        $("#ui-datepicker-div").css('font-size','18px');



//        文件上传
        $("#uploadFile").ajaxForm({
            beforeSubmit:  function showRequest(){
            },  // 提交前
            success: function showResponse(data){
                alert(data.msg);
                location.reload();
            }
        })
//        文件下载
        $("#tab2 table tr .download").click(function(){
            var filePath=$(this).parents("tr").find(".filePath").text();
            $.post("{:U('MaintenanceRecord/downloadFile')}",{filePath:filePath},function(data){
                alert(data.msg);
            },"JSON")
        })

//        文件删除
        $("#tab2 table tr .delete").click(function(){
            var id=$(this).parents("tr").find(".id").text();
            var filePath=$(this).parents("tr").find(".filePath").text();
            $.post("{:U('MaintenanceRecord/deleteAttachFile')}",{id:id,filePath:filePath},function(data){
                alert(data.msg);
                location.reload();
            },"JSON")
        })


        //设备信息审核
        $("#verifiedNo").click(function(){
            var id=$(this).attr("data-messageId");
            var verifierLevel=$(this).attr("data-verifierLevel");
            if(confirm("是否确认审核不通过？")){
                $.post("{:U('Public/verified')}",
                        {tableName:"tb_planttestrecord",id:id,verifierLevel:verifierLevel,verifyResult:2},function(data){
                            alert(data.msg);
                            window.parent.location.reload();
                        },"JSON")
            }else{
                return false;
            }

        })
        $("#verifiedYes").click(function(){
            var id=$(this).attr("data-messageId");
            var verifierLevel=$(this).attr("data-verifierLevel");
            if(confirm("是否确认审核通过？")) {
                $.post("{:U('Public/verified')}",
                        {
                            tableName: "tb_planttestrecord",
                            id: id,
                            verifierLevel: verifierLevel,
                            verifyResult: 1
                        }, function (data) {
                            alert(data.msg);
                            window.parent.location.reload();
                        }, "JSON")
            }else{
                return false;
            }
        })
    });
</script>
</body>
</html>