<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/tableList.css">
    <link href="__PUBLIC__/bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <title></title>
    <style>

        .breadcrumb > li + li:before {
            color: #CCCCCC;
            content: " > ";
            padding: 0px 5px;
        }
        table a{
            margin-left: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<ol class="breadcrumb" style="background-color: transparent;float: left; height: 30px;width: 100%">
    <li class="active">档案管理</li>
    <li class="active">测厚原始记录</li>
    <li class="active">储罐设备列表</li>
</ol>
<div style="width: 98%;margin-left: auto;margin-right: auto">
    <div class="filterName" style="line-height: normal">
        <div style="float: right;margin-bottom: 10px">
            查询：
            <input id="filterName">
        </div>
    </div>
    <table class="bordered">
        <thead>
        <tr><th>公司</th><th>罐区/车间</th><th>设备位号</th><th>设备名称</th><th>审核人员</th><th>审核阶段</th><th>审核结果</th><th>操作</th></tr>
        </thead>
        <tbody>
        <volist name="res" id="vo">
            <tr data-row-id="{$vo.id}">
                <!--<td title="{$vo.factoryId}">{$vo.factoryId}</td>-->
                <td title="{$vo.workshopId}">{$vo.workshopId}</td>
                <td title="{$vo.areaId}">{$vo.areaId}</td>
                <td class="plant" title="{$vo.plantNO}">{$vo.plantNO}</td>
                <td title="{$vo.plantName}">
                    <empty name="vo.plantName">-</empty>
                    {$vo.plantName}</td>
                <td><empty name="vo.MeasurethicknessrecordOrigin.verifier">-</empty>
                    {$vo.MeasurethicknessrecordOrigin.verifier}</td>
                <td><empty name="vo.MeasurethicknessrecordOrigin.verifyStage">-</empty>
                    {$vo.MeasurethicknessrecordOrigin.verifyStage}</td>
                <td>
                    <switch name="vo.MeasurethicknessrecordOrigin.verifyResult">
                        <case value="0">未审核</case>
                        <case value="1">审核通过</case>
                        <case value="2">审核未通过</case>
                    </switch>
                    </td>
                <td><a class="edit Access" data-access="{$Access['EDIT']['id']}" href="thicknessOriginDataEdit.html?id={$vo.id}">编辑<span></span></a>
                    <a class="read Access" data-access="{$Access['READ']['id']}" href="thicknessOriginData.html?id={$vo.id}"><span>查看</span></a></td></tr>
        </volist>
        </tbody>
    </table>
</div>
</body>
<script src="__PUBLIC__/Jquery/jquery-2.0.3.min.js"></script>
<script src="__PUBLIC__/bootstrap-3.0.3/js/bootstrap.min.js"></script>
<script>
    $(function(){
        //根据返回权限值显示权限
        $(".Access").each(function(){
            if($(this).attr("data-access")){
                $(this).show();
            }else{
                $(this).hide();
            };
        })

        //关键字检索
        $("#filterName").keyup(function(){
            $(".bordered tbody tr")
                    .hide()
                    .filter(":contains('"+( $(this).val() )+"')")
                    .show();
        })
        //双击跳转
        $("tbody tr").dblclick(function(){
            $(this).find("tr td a span").click();
        })
    })
</script>
</html>